<!--参数 data

var data = {
    userId: 123,
    videoName: 'timescape',
    tag:'',
    videoDesc:'',

    pushedChannels: [
        {chanel_name:'',chanel_code:''}

    ],
    channels:[
        {chanel_name:'',chanel_code:''}

    ]
};

-->

{%code
    var tr = data,
    pushedChannels = tr.find("td[name='videoChannel']").find('span'),

    userId = tr.find("td[name='userId']").text(),
    videoName = tr.find("td[name='videoName']").text(),
    videoId = tr.find("input[name='videoIdInt']").val(),
    mediaId = tr.find("input[name='mediaid']").val(),
    videoDesc = tr.find("input[name='videodesc']").val(),
    videoTag = tr.find("input[name='tag']").val(),
    videoImg = tr.find("img[name='img']").attr('src');
%}

<div class="dialog-box" style="z-index: 2000">
    <div class="mask"></div>
    <div id="dragP" class="dialog-wrapper">
        <span class="dialog-side"></span>
        <font class="dialog" style="position: static;">
            <div style="background-color: #fff; border: 1px #234 solid;width:600px;">
                <div style="background-color: #D6DBDE;line-height: 30px;font-weight: bold;text-align: left; padding: 0 3px;">推送-{%getv videoName %}
                    </div>
                <table width="100%" class="table_form contentWrap">
                    <tr>
                        <td width="100px">渠道ID:</td>
                        <td ><input id="_userid" value="{%getv userId %}" type="text" disabled="disabled" size="60" /></td>
                    </tr>
                    <tr>
                        <td>视频名称:</td>
                        <td><input id="_videoname" value="{%getv videoName %}" type="text" size="60" /></td>
                    </tr>
                    <tr>
                        <td>标签:</td>
                        <td><input id="_tagdesc" value="{%getv videoTag %}" type="text" size="60" /> </td>
                    </tr>
                    <tr>
                        <td>描述:</td>
                        <td><textarea  style="width: 240px;height: 80px;" id="_videodesc" cols="57" rows="6">{%getv videoDesc %}</textarea>
                        <img style="vertical-align: top" src="{%getv videoImg%}">
                        </td>
                    </tr>

                    <tr class="mainChannel">
                        <td>已推送主站频道：</td>
                        <td>
                            <div id="pushedVideos" class="tdCls">
                                {%for {%cond var i=0,ln=pushedChannels.length; i<ln; i++ %}
                                    <span>{%getv $(pushedChannels[i]).attr('name') %}</span>&nbsp;
                                %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>推送专辑id:</td>
                        <td><input id="_videoSet"  type="text" size="60" /> </td>
                    </tr>
                    <tr class="mainChannel">
                        <td>选择平台:</td>
                        <td>
                            <div id="platformlist" class="tdCls">
                                {%getv getPlayPlatformCheckboxTpl() %}
                            </div>
                        </td>
                    </tr>

                    <tr class="mainChannel">
                        <td>选择频道:</td>
                        <td>
                            <div id="chanellist" class="tdCls">
                                {%for {%cond var i in chanelSetList %}
                                    {%if {%cond !isInPushed(pushedChannels, i) %}
                                        <em class="wrappedBlock" class="channelCls">
                                            <input type="checkbox" class="checkbox" vname="{%getv chanelSetList[i] %}"
                                                   value="{%getv i %}" />
                                            &nbsp;{%getv chanelSetList[i] %}
                                        </em>
                                    %}
                                %}
                            </div>
                        </td>
                    </tr>
                </table>
                <div style="line-height: 30px">
                    <button onclick="return validateInput(this);"> &nbsp;确定&nbsp;</button>&nbsp;&nbsp;
                    <button onclick="$(this).closest('.dialog-box').remove();">&nbsp;取消&nbsp;</button>
                </div>
            </div>
        </font>
    </div>
</div>

{%code
    <!--$("#currentRow").data('currentRow', currentRow);-->
    window.validateInput = function(bt) {
        if($.trim($('#_videoname').val())=='') {
            alert('请您输入视频名字');
            return false;
        }
        <!--alert($("#checkboxlist input:[type='checkbox']:checked]").html())-->
        if($("#chanellist input:[type='checkbox']:checked").val()==null) {
            alert('请您选择推送频道');
            return false;
        }

        if($("#platformlist input:[type='checkbox']:checked").val()==null) {
            alert('请您选择播放平台');
            return false;
        }

        if($('#_videoSet').val()=='') {
            alert('请输入专辑id');
            return false;
        }

        pushViedeo();
        $(bt).closest('.dialog-box').remove();
        return true;
    };

    function inArr(arr, element) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == element) {
                return true;
            }
        }
        return false;
    }

    function pushViedeo() {
        var videocodeArr = [];
        var platformCodeArr = [];
        $('#chanellist input:checkbox').each(function() {
            if ($(this).attr('checked') ==true) {
                videocodeArr.push($(this).val());
            }
        });

        $('#platformlist input:checkbox').each(function() {
            if ($(this).attr('checked') ==true) {
                platformCodeArr.push($(this).val());
            }
        });

        var client = new UTIL.Client({
            url: '__URL__/pushOneVideo',
            success: function(data) {
                var d = UTIL.evalJson(data);
                if(d.status == 1){addPushInfo(d.data);}
                else {alert('推送失败');}

            },
            error:function(data){
                alert('网络繁忙');
            }
        });
        client.send({data:UTIL.obj2str({
            tag: $('#_tagdesc').val(),
            userid:	$('#_userid').val(),
            videodesc:	$('#_videodesc').val(),
            videoname:	$('#_videoname').val(),

            mediaid: mediaId,
            videoid: videoId,
            videoimg: videoImg,

            videopush:	videocodeArr,
            platform: platformCodeArr,
            pid: $('#_videoSet').val()
        })});
    }
%}